<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Mongui</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="material-design-iconic-font/dist/css/material-design-iconic-font.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/atelier-forest.light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
    <script src="/material-date-picker/build/mbdatepicker.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="https://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="/main.js"></script>
</head>
<body layout="column" ng-app="Mongui">
    <navbar></navbar>
    <div ui-view flex layout="column"></div>
</body>
</html>