<h3>Sign In With Google</h3>
<!-- <form name="registerForm" ng-submit="registerForm.$valid && signIn(userInfo)" class="col-lg-8 col-md-8 col-sm-8">
    <md-input-container>
        <label>Email</label>
        <input type="text" ng-model="userInfo.email" required>
    </md-input-container>

    <md-input-container>
        <label>Password</label>
        <input type="text" ng-model="userInfo.password" required>
    </md-input-container>
    <button type="submit">Sign In</button>
</form> -->

<button ng-click="goToGoogle()">Sign In</button>