#project {
  button{
    text-align: left;
  }
  md-sidenav {
     height: 100vh;
    position: relative;
  }
  md-content {
    background-color: transparent;
  }
  .md-button:not([disabled]):hover {
    background-color: transparent;
  }
  #schemaToolbar {
    background-color: transparent;
  }
}
