
#project {
  button{
    text-align: left;
  }

  .md-button:not([disabled]):hover {
    background-color: transparent;
  }

  #backToProjects {
      transition: none;
      text-align: center;
  }
  // #sidenavProjectName {
  //   padding-left: 0;
  // }
  // #schemaNavButtons {
  //   .md-button {
  //     padding-right: 0;
  //     padding-left: 0;
  //     margin-left: 0;
  //     margin-right: 0;
  //   }
  // }


}
