#project {
  .container {
    margin-left: 0;
    margin-top: -20px;
    padding-left: 0;
  }
    #sidenav {
      background: lightblue;
      padding-bottom: 100%;

      #projectName {
        text-align: center;
      }

  }

}
