<h1>Buffer</h1>
<div layout="row" layout-wrap layout-fill layout-padding>











	<!-- <md-input-container>
		<label>Connection Uri(s)</label>
		<input type="text" ng-model="props.bufferConnectUri">
	</md-input-container>
	<md-switch ng-model="props.bufferConnectOptionsMongos">
		Mongos
	</md-switch>
	<md-input-container>
		<label>Create Connection Uri(s)</label>
		<input type="text" ng-model="props.bufferCreateConnectionUri">
	</md-input-container>
	<md-switch ng-model="props.bufferCreateConnectionOptionsNativeParser">
		Native Parser
	</md-switch>
	<md-switch ng-model="props.bufferCreateConnectionOptionsAutoReconnect">
		Auto Reconnect
	</md-switch>
	<md-input-container>
		<label>Strategy</label>
		<input type="text" ng-model="props.bufferCreateConnectionOptionsStrategy">
	</md-input-container>
	<md-input-container>
		<label>RS Name</label>
		<input type="text" ng-model="props.bufferCreateConnectionOptionsRSName">
	</md-input-container>
	<md-input-container>
		<label>User Name</label>
		<input type="text" ng-model="props.bufferCreateConnectionOptionsUserName">
	</md-input-container>
	<md-input-container>
		<label>Password</label>
		<input type="text" ng-model="props.bufferCreateConnectionOptionsPassword">
	</md-input-container> -->

</div>
