<section id="engine">
  <h1>Code Generation Engine</h1>
  <div layout="row">
    <div flex layout="column">
      <field 
      ng-repeat="field in fields" 
      field="field" 
      deletebyid="deleteField(field)"
      savefield="saveField(field._id, field)"
      saving="saving"
      subfield="createSubField(field)"
      typechangeclear="typeChangeClear(field)"
      schemas="schemas">
      </field>
    </div>
      <!-- <md-content flex="33">
        <generated-code schemadata="fieldArr" parsed-string="toPass"></generated-code>
      </md-content> -->
  </div>
  <md-button class="md-raised md-primary" ng-click="createField()">Add Field</md-button>
  <pre>{{fieldArr | json}}</pre>
  <pre>{{fields | json}}</pre>
</section>