#projects {

 //  .md-button:not([disabled]):hover {
	// background-color: transparent;
 //  }
	#project-list {
		// max-height: 67vh;
	}

	.newProject {
		min-height: 83px;
		max-height: 83px;
	}
<<<<<<< HEAD
<<<<<<< HEAD
  md-content {
	background-color: #fff;
  }
  .md-button:not([disabled]):hover {
	background-color: transparent;
  }
  .md-default-theme {
	background-color: #9cff7d;
	padding-top: 0;
  }
  md-toolbar {
	margin-right: 0;
	background-color: #FBC93D;
  }
=======
>>>>>>> bf9e5fcad280d7a2bd2b58a31eb7fda2141b87f8
=======
>>>>>>> edd1323c89c06069225b40dc56be33a8d7fd7a4a

 #projectButtons {
   margin-left: 0;
   margin-right: 0;
   padding-right: 0;
   padding-left: 0;
 }

}
