#projects {
	h1 {
		margin-top: 40px;
		text-align: center;
	}
  	h5 {
	  color: #393A3B;
	  margin: 0;
	}
	md-tabs {
		.link {
			color: blue;
		}
		.child {
			color: green;
		}
	}
  md-content {
	background-color: #fff;
  }
  .md-button:not([disabled]):hover {
	background-color: transparent;
  }
  .md-default-theme {
	background-color: #9cff7d;
	padding-top: 0;
  }
  md-toolbar {
	margin-right: 0px;
	background-color: #FBC93D;
  }
 #projectButtons {
   margin-left: 0;
   margin-right: 0;
   padding-right: 0;
   padding-left: 0;
 }
}
