navbar {

  display: block;
  background: #a1a1a1;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  md-tabs{
      .md-active{
        color: #a3e9a4 !important;
      }
      .md-tab{
        color: white;
      }
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .login-button {
    span {
      color: #795548;
    }
  }
  .register-button {
    span {
      color: #795548;
    }
  }

  .welcome {
    color: white;
  }

}