<section id="project">
    <div layout="row">
        <md-sidenav ng-show="showSideBar" layout="column" layout-fill class="md-sidenav-left" md-component-id="left" md-is-locked-open="true">
          <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">{{projectName}}</h1>
          </md-toolbar>
          <md-content>
            <md-list>
              <md-list-item flex layout-padding ng-repeat="schema in schemas">
               <md-button class="md-accent md-hue-3" layout-fill ng-click="goToSchema(schema)">{{schema.name}}
               </md-button>
              </lmd-list-item>
            </md-list>
          </md-content>
          <form name="newSchemaForm" layout-padding 
          ng-submit="newSchemaForm.$valid && submitSchema(newSchema)">
              <md-input-container>
                <label>Schema Name</label>
                <input type="text" ng-model="newSchema.name" required>
              </md-input-container>
              <md-button ng-disabled="newSchemaForm.$invalid" class="md-accent md-raised md-hue-3" type="submit">New Schema</md-button>
          </form>
        </md-sidenav>
        <!--</div>-->
        <div flex layout="column">
            <ui-view></ui-view>
        </div>
    </div>
    
</section>