<md-content class="md-padding">
	<md-card>
			<ol class="breadcrumb" ng-if="field.parents.length">
				<li ng-repeat="parent in field.parents"><a href="">{{parent}}</a></li>
			</ol>
		<md-card-content>
			<div layout="row" layout-wrap>
				<div class="field-name md-padding" flex="33" layout-wrap layout-fill layout-padding>
					<h3>Field</h3>
					<md-input-container>
						<label>Field Name </label>
						<input ng-model="field.name" ng-change="fieldChange()">
					</md-input-container>
					<md-switch class="md-primary" ng-model="field.required" ng-change="fieldChange()">
						Required: {{ field.required }}
					</md-switch>
					<md-select placeholder="Type" ng-model="field.fieldType" ng-change="typechangeclear();fieldChange();">
						<md-option class="md-success" ng-repeat="type in types" value="{{type}}">
							{{type}}
						</md-option>
					</md-select>
				</div>
				<div layout="row" class="field-options md-padding" flex="66">
					<field-number 
					props="field.typeOptions" 
					ng-if="field.fieldType === 'Number'"
					fieldchange="fieldChange()">
					</field-number>
					<field-string 
					props="field.typeOptions" 
					ng-if="field.fieldType === 'String'"
					fieldchange="fieldChange()">
					</field-string>
					<field-date 
					props="field.typeOptions" 
					ng-if="field.fieldType === 'Date'"
					fieldchange="fieldChange()">
					</field-date>
					<field-buffer 
					props="field.typeOptions" 
					ng-if="field.fieldType  === 'Buffer'"
					fieldchange="fieldChange()">
					</field-buffer>
					<field-boolean 
					props="field.typeOptions" 
					ng-if="field.fieldType === 'Boolean'"
					fieldchange="fieldChange()">
					</field-boolean>
					<field-mixed 
					props="field.typeOptions" 
					ng-if="field.fieldType === 'Mixed'"
					fieldchange="fieldChange()">
					</field-mixed>
					<field-objectid 
					currentschema="currentschema" 
					schemas="schemas" 
					props="field.typeOptions" 
					ng-if="field.fieldType === 'Objectid'"
					fieldchange="fieldChange()">
					</field-objectid>
					<field-nested 
					subfield="subfield()" 
					children="field.children" 
					props="field.typeOptions" 
					ng-if="field.fieldType === 'Nested'"
					fieldchange="fieldChange()">
					</field-nested>
  				</div>
  				<pre flex>{{field.generatedCode}}</pre>
				<div layout="row" layout-align="end center">
					<md-button id="deleteField" aria-label="Delete Field" ng-click="deletebyid()">
						<md-icon class="md-warn" class="material-icons md-24">delete</md-icon>
						<md-tooltip>Delete</md-tooltip>
					</md-button>
				</div>
			</div>
		</md-card-content>
	</md-card>
<md-content>
