<section>
	<md-content layout="row" layout-wrap>
		<md-subheader style="height:64px;margin-right:0px;" layout-fill class="md-accent md-hue-2">
			{{currentSchema.name}}
		</md-subheader>

   <md-button layout-fill class="md-raised md-primary" ng-click="createField()">Add Field</md-button>

    <field layout-fill
      ng-repeat="field in topLevelFields" 
      field="field" 
      deletebyid="deleteField(field)"
      savefield="saveField(field._id, field)"
      saving="saving"
      subfield="createSubField(field)"
      typechangeclear="typeChangeClear(field)">
    </field>
    <pre flex layout-fill>{{fieldsDictionary | json}}</pre>
	</md-content>	
</section>