<section layout="column">
        <md-sidenav md-component-id="right" class="md-sidenav-right">
            <p>testing</p>
        </md-sidenav>
		<md-toolbar id="schemaSubheader" class="md-whiteframe-z3 md-primary hue-1" layout="row" layout-align="center center">
            <span flex="50"><h1 class="md-toolbar-tools">{{currentSchema.name}}</h1></span>
            <span id="schemaNavButtons" layout="row" layout-align="end center" flex>
                <!--<md-button aria-label="Delete Schema" class="md-warn material-icons md-24" ng-click="(deleteSchema(schema._id))">remove_circle</md-button>-->
                <md-button ng-click="createField()" aria-label="Add Field">
                    <md-icon class="material-icons md-24">note_add</md-icon>
                    <md-tooltip>Add Field</md-tooltip>
                </md-button>
                <md-button ng-click="openCodeDialog()" aria-label="Show Schema Code">
                    <md-icon class="material-icons md-24">code</md-icon>
                    <md-tooltip>Show Schema Code</md-tooltip>
                </md-button>
            </span>
		</md-toolbar>
    <md-content>
    <div>
    <field layout-fill
      ng-repeat="field in fields"
      field="field"
      deletebyid="deleteField(field)"
      savefield="saveField(field._id, field)"
      saving="saving"
      subfield="createSubField(field)"
      typechangeclear="typeChangeClear(field)">
    </field>
    </div>
    </md-content>

    <md-dialog>
        <md-dialog-content>

        </md-dialog-content>
        <md-actions>

        </md-actions>
    </md-dialog>
    <!--<pre flex layout-fill>{{fields | json}}</pre>-->



</section>