<h1>Number</h1>
<div layout="row" layout-wrap layout-fill layout-padding>
	<md-input-container>
		<label>Min Value</label>
		<input type="number" ng-model="props.numberMin">
	</md-input-container>
	<md-input-container>
		<label>Max Value</label>
		<input type="number" ng-model="props.numberMax">
	</md-input-container>
	<md-input-container>
		<label>Min Custom Error Message</label>
		<input ng-model="props.numberMinCustomErrorMessage">
	</md-input-container>
	<md-input-container>
		<label>Max Custom Error Message</label>
		<input ng-model="props.numberMaxCustomErrorMessage">
	</md-input-container>
</div>